@{
ViewData["Title"] = "Home Page";
var user = (User) ViewData["user"];
var users = (IEnumerable<User>) ViewData["users"];
}

@if(user != null) {
@user.LongEmail
}
<table>
    <thead>
        <td>Id</td>
        <td>Email</td>
    </thead>
    <tbody>
        @foreach(var u in users) {
        <tr>
            <td>@u.Id</td>
            <td><a href="/user/@u.Id">@u.LongEmail</a></td>
        </tr>
        }
    </tbody>
</table>

<form method="POST" action="/signup">
    Name: <input name="name">
    Email: <input name="email">
    Password: <input type="password" name="clearpass">
    <input type="submit" value="Signup">
</form>

<form method="POST" action="/login">
    Email: <input name="email">
    Password: <input type="password" name="clearpass">
    <input type="submit" value="Login">
</form>

<form method="POST" action="/logout">
    <input type="submit" value="Logout">
</form>