@{
    ViewData["Title"] = "Home Page";
    var user = ViewBag.User;
    var users = ViewBag.Users;
}

<h1><a href="/">Home</a></h1>
@if(user != null) {
    <h2>@user.LongEmail</h2>
}

@foreach(var u in users) {
    <div>
        <h1><a href="/user/@u.Id">@u.LongEmail</a></h1>
        @foreach(var a in u.Articles) {
            <div>
                <h1><a href="/article/@a.Slug">@a.Title</a></h1>
                <h2><a href="/user/@a.User.Id">@a.User.LongEmail&mdash;@a.Posted()</a></h2>
                @a.Contents
            </div>
        }
    </div>
    @if(user != null && user.Id == u.Id) {
        <form method="POST" action="/articles/create">
            Title: <input name="title">
            Slug: <input name="slug">
            <br>
            <textarea rows="25" cols="80" name="contents"></textarea>
            <input type="submit" value="Post">
        </form>
    }
}