@{
ViewData["Title"] = "Home Page";
var user = ViewBag.User;
var articles = ViewBag.Articles;
}

<h1><a href="/">Home</a></h1>
@if(user != null) {
    <h2>@user.LongEmail</h2>
}

@foreach(var a in articles) {
    <div>
        <h1><a href="/article/@a.Slug">@a.Title</a></h1>
        <h2><a href="/user/@a.User.Id">@a.User.LongEmail&mdash;@a.Posted()</a></h2>
        @a.Contents
    </div>
    @if(user != null && user == a.User) {
        <form method="POST" action="/article/@a.Slug">
            <input name="title" value="@a.Title"><br>
            <textarea rows="25" cols="80" name="contents">@a.Contents</textarea>
            <input type="submit">
        </form>
        <form method="POST" action="/article/@a.Slug/delete">
            <input type="submit" value="Delete">
        </form>
    }
}